@import 'normalize.css';
@import 'typography.css';
@import 'grid';

@import 'controls/button.css';
@import 'controls/icon.css';

html {
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #222;
}

#root {
  height: 100%;
}
