/** @define button */

.button {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -0.1em 0px;
  overflow: hidden;
  color: #fff;

  &__label {
    flex: 1;
    color: #fff;
    font-size: 1.15em;
    text-align: center;
  }

  &--bordered {
    border: 1px solid #fff;
    &:hover { border-color: #aaa; }
  }

  &--default {
    background-color: #fff;
    border-color: #aaa;
    color: #333;

    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }


  &--success {
    background-color: #71993a;
    border-color: #618f2a;

    &:hover {
      background-color: #89b452;
      border-color: #74b93d;
    }
  }
}
