/** @define icon */

.icon {
  backface-visibility: hidden;
  size: 1em;

  &--small { size: 0.5em; }
  &--large { size: 2em; }

  &--github {
    background: url('../../icons/github.svg');
    background-size: cover;
  }
}
